body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  min-height: 100vh;
}

#piano {
  display: flex;
  width: 100%;
}

.tile {
  height: 200px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #000;
  transition: 0.3s all;
}

.tile:active,
.tile.playing {
  opacity: 0.5;
}
